a{color:black; text-decoration:none;}
body{
  margin-left:200px;
  margin-right:200px;
}
header{
 vertical-align:middle;
 margin-top:30px;
 font-family:"Arial";
}
header h1{
  text-align:center;
}
nav{
  text-align:center;
  border-bottom:1px solid gray;
  border-top:1px solid gray;
  font-size:13pt;
  font-family:"나눔바른펜","맑은 고딕","돋움체";
}
nav ul li{
  list-style:none;
  display:inline;
  padding:50px;
}
nav a{
  color:#737373;
}
nav a:hover, #now{
  color:#ee1147;
  font-weight:bold;
}
article{
  margin:100px;
  font-family:"나눔바른펜","맑은 고딕","돋움체";
}
#who{
  color:white;
  border:1px solid black;
  background-color:black;
  font-size:20pt;
  padding-right:20px;padding-left:20px;
}
#me{float:right; padding:20px;}
.intro{
  margin-top:50px;
}
.SNS{
  float:right;
}
